<%- include("./partials/header") -%>

<h1>Home</h1>
<p>
    <%=homeStartingContent%>
    <hr>
</p>

<% posts.forEach((element) => { %>
    <h1><%= element.postTitle %></h1>
    <p>
        <%= element.postContent.slice(0, 100) %> ...
        <a href="/posts/<%= element.postTitle %>">Read More</a>
    </p>
    <hr>
<% }) %>

<%- include("./partials/footer") -%>