<%- include("./partials/header") -%>

<h1>Home</h1>
<p>
    Welcome to The Daily Journal. This is a blog website that was made by Maulik Shah. Head over to the <a href="https://maulik-shah-blog.herokuapp.com/compose">compose page</a> to make your own blog posts!🔥 You can make blog posts on any topic you like 😎
    <hr>
</p>

<% posts.forEach((element) => { %>
    <h1><%= element.postTitle %></h1>
    <p>
        <%= element.postContent.slice(0, 100) %> ...
        <a href="/posts/<%= element.postTitle %>">Read More</a>
    </p>
    <hr>
<% }) %>

<%- include("./partials/footer") -%>